#section-projects {
  padding-left: 5rem;
  padding-right: 5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr) 1px ;
  grid-template-rows:50px auto 50px;
  justify-content: center;

  gap: 2rem;

  height: 100%;
}

.box-title {
  grid-column: 1/6;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-projects {
  font-size: clamp(1rem, 4vw, 4rem);
}

.figure-projects{
  width: 100%;
  height: 100%;
}

.projects-img{
  height: 100%;
  width: 100%;
}

.repos,
.site {
  padding: 1rem 2rem;
}