@media (max-width: 768px) {

  #header {
    justify-content: center;
  }

  .figure-header {
    display: none;
  }

  #section-about {
    justify-content: flex-start;
  }

  .title-about {

    font-size: 4rem;
  }

  .figure-about {
    width: 35%;
    height: 45%;
  }

  .about-img {

    padding: 0;
  }

  .content-about {
    width: 55%;
  }

  .content-about-p {
    padding: 0;

  }

  #section-skills {
    gap: 10rem;
  }


  .box-title {
    width: 100%;

  }

}

@media (max-width: 576px) {
  #header {
    gap: 5rem;
    padding: 1rem;
    justify-content: space-between;
  }

  .nav-menu-header {
    display: none;
  }

  .box-hambuger {
    display: block;
  }

  .figure-header {
    display: flex;
    gap: 0;
    width: 100%;

  }

  .img-header {
    display: none;
  }

  .h3-title-header {
    width: 84%;
    text-align: center;
  }

  #home {
    padding-top: 3rem;
  }

  .home-main-content {
    padding-left: 0;
    padding-right: 0;
    justify-content: start;
  }

  .home-title {
    font-size: 4.5rem;
  }

  .figure-social-medias {
    display: none;
  }

  .figure-social {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

  }


  #section-about {
    gap: 0;
  }

  #section-projects {
    row-gap: 4rem;
  }

  .figure-projects {
    width: 100%;
  }
}

@media (max-width: 425px) {

  #section-skills,
  #section-about,
  #section-contact #home {
    padding-left: 0;
    padding-right: 0;
  }

  #section-projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home-main-content {
    gap: 3.5rem;
  }

  .figure-about {
    display: none;
  }

  .content-about {
    margin: 0 auto;
    width: 90%;
  }

  #section-skills {
    height: fit-content;
    gap: 3rem;
  }

  .form-textarea {
    height: 10vh;
  }

  .button-section-contact {
    font-size: 1.5rem;
  }
}