@media (min-width: 1024px) {

  #section-about {
    gap: 0;
  }

  .content-about {
    width: 100%;
    padding: 0;

  }

  .content-about-p {
    /* padding: 0; */
  }


}

@media (max-width: 992px) {}


@media (max-width: 768px) {

  #header {
    justify-content: center;
  }

  .figure-header {
    display: none;
  }

  #section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .figure-about {
    width: 35%;
    height: 45%;
  }

  .figure-projects {
    width: 67%;
  }

  #section-projects {
    height: fit-content;

  }

  .projects-img {
    width: 100%;
  }

  .box-title {
    width: 100%;

  }

}

@media (max-width: 576px) {
  #header {
    gap: 10rem;
    padding: 1rem;
    justify-content: start;
  }

  .nav-menu-header {
    display: none;

  }

  .box-hambuger {
    display: block;
  }

  .figure-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    ;
  }

  #home {
    padding-top: 3rem;
  }

  .home-title {
    font-size: 4.5rem;
  }

  .figure-social-medias {
    display: none;

  }

  .title-about {
    font-size: 4rem;
    text-align: center;
  }


}