#section-contact {
  height: 100vh;

  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 8rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.contact-title {
  /* margin-top:clamp(4rem, 4vw ,3rem); */
  font-size: clamp(2rem, 10vw, 4rem);
  text-align: center;
}

.contact-p {
  width: clamp(20rem, 80vw, 90rem);
  /* padding: 1rem 0; */
  padding-bottom: 1rem;
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  text-align: center;
}

.form-contact {
  width: clamp(30rem, 40vw, 50rem);
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-input {
  padding: .5rem 1rem;
  margin-bottom: 20px;

  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 400;
  border: none;
}

.form-label {

  width: fit-content;
  width:-moz-fit-content;
  font-size: clamp(1.8rem, 3vw, 2rem);
  height: fit-content;
  font-weight: 600;
}

.form-textarea {
  height: 15vh;
  resize: none;
  padding: .5rem 1rem;
  margin-bottom: 2rem;

  border: none;
  font-size: 2rem;
}

.footer-p {
  width: 98vw;
  white-space: nowrap;
  /* padding-top: .5rem; */
  font-size: 1.4rem;
  text-align: center;
  font-weight: normal;

  border-top: 1px solid rgb(153, 151, 151);
}

.button-section-contact{
  margin: 0 auto;
}