#section-about {

  background-image: var(--bg-color);

  padding-top: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 100vh;
}

.title-about {
  text-align: center;
  font-size: clamp(1rem, 4vw, 4rem);
  grid-area: about-title;

  width: 100%;
}

.content-about {
  width: 50%;
}

.content-about-p {
  width: 100%;
  padding-top: 2rem;
  padding-right: 4rem;
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  text-align: justify;

  line-height: clamp(2.2rem, 2.5vw, 8rem);

}

.figure-about {
  width: 350px;
  height: 400px;
}

.about-img {
  width: 100%;
  grid-area: about-img;
  height: 100%;

  padding-bottom: 4rem;
}