@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
  font-size: 62.5%;

}

:root {
  --bg-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --bg-color-header: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  --title-color: rgba(0, 0, 0, 0.829);
  --font-family: 'Open Sans', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family);

}

body {
  height: 100vh;
  background-image: var(--bg-color);


}

header {
  width: 100%;
  height: 85px;

  position: fixed;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: var(--bg-color-header);
  box-shadow: 0px 0px 5px rgb(153, 151, 151);

}

h3 {
  font-size: 2.5rem;
  color: var(--title-color);

}

.image-profile {
  display: flex;
  align-items: center;
  gap: 2rem;

}


.image-profile img {
  width: 5.5rem;
  border-radius: 50%;

}

.nav-menu {
  display: flex;
  gap: 3rem;

  font-size: 2rem;

}



li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;



}

ul li a:hover {
  color: blue;
  border-bottom: 2px solid blue;

}

.container,
.contact,
.about,
.project {
  padding-top: 10rem;
  height: 100%;

}

.social-medias {
  position: fixed;
  top: 20rem;
  right: 0;
  height: 20vh;

  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  gap: 1rem;

  box-shadow: 0 0 6px rgb(153, 151, 151);
  background-image: var(--bg-color);

}

.social-medias img {
  width: 25px;
}

.social-medias img:hover {
  transform: scale(1.2);

}

.home {
  text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

.animacao-home {
  animation: loadHome 400ms;

}

.home h1 {
  font-size: 6rem;

}

.home p {
  font-size: 2.5rem;

  font-weight: 300;

}

.home a, .projects-title a {
  width: -moz-fit-content;
  width: fit-content;

  padding: 1rem 2rem;
  background-color: blue;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: white;


}

.home a:hover, .projects-title a:hover {
  transition: all 300ms;

  transform: scale(1.1);

}

.about {
  padding-left: 5rem;
  padding-right: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

}

.content{
  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.about h2,
.hability h2,
.projects-title h2 {
  font-size: 4rem;
}

.about p {
  font-weight: 300;

  line-height: 3rem;

  text-align: justify;
  font-size: 1.8rem;

}

.about a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.about p span {
  font-weight: 600;

}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  padding: 0 4rem;

}

.about .skills figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: fit-content;
  width: -moz-fit-content;

}

.about .skills figure figcaption {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;

  width: fit-content;
  width: -moz-fit-content;
  padding: .1rem 2rem;

  z-index: -1;

  color: var(--title-color);
  background-color: rgba(128, 128, 128, 0.582);
  border-radius: 40px;

  opacity: .8;
}

.about .skills img {
  width: 7rem;

}

.about .skills h2 {
  width: 100%;
  grid-column: 1/4;

}

.projects{
  padding-left: 5rem;
  padding-right: 7rem;

  
  padding-bottom: 5rem;

  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem auto;

}

.carousel{
  grid-column: 2/4;
}

.card-project:hover{
  transform: scale(1.2);
}

.projects .projects-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/5;

  padding-top: 4rem;
  width: 100%;


}

.card-project{
  display: flex;
  /* gap: 2rem; */

  height: 60vh;
  flex-direction: column;

  justify-content: space-between;

  padding: 2rem;
  /* border: 1px solid rgb(153, 151, 151); */

  border-radius: 10px;

  background-image: var(--bg-color-header);
  box-shadow: 0px 0px 5px rgb(153, 151, 151);


  transition: all 400ms;
}

.card-project figure{
  width: 100%;
  height: 100%;
  
  
}

.card-project figure img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.description-project{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

}

.description-project .name-project{
  width: 100%;


}

.description-project p{
  font-size: 2.5rem;
  font-weight: 600;

}

.description-project span {
  font-size: 1.5rem;

}

.buttons{
  width: 100%;

  display: flex;
  justify-content: space-between;

  align-items: center;

}

.buttons a{
  border:none;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: blue;
  color: white;

  font-weight: 600;

  font-size: 1.5rem;

  text-decoration: none;
  
  transition: all 400ms;
  cursor: pointer;

}

.buttons a:hover{
  transform: scale(1.1);
}

@keyframes loadHome {
  from {
    transform: scale(0);

  }

  to {
    transform: scale(1);

  }

}