html{
  font-size: 62.5%;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}

header{
  width: 100%;

  position: fixed;
  padding: 1rem 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

box-shadow: 0px 0px 5px rgb(153, 151, 151);
}

.image-profile{
  display: flex;
  align-items: center;
  gap: 2rem;
}


.image-profile img{
  width: 7rem;

  border-radius: 50%;

}

.nav-menu{
  display: flex;
  gap: 3rem;
}



li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{

  padding-top: 10rem;


  height: 100%;
}