@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
  font-size: 62.5%;

}

:root {
  --bg-color: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --bg-color-header: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  --title-color: rgba(0, 0, 0, 0.829);
  --font-family: 'Open Sans', sans-serif;

  --bg-color-button: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --bg-button: #0093E9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family);

}

body {
  height: 100vh;
  background-image: var(--bg-color);

}

header {
  width: 100%;
  height: 85px;

  position: fixed;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: var(--bg-color-header);
  box-shadow: 0px 0px 5px rgb(153, 151, 151);

}

h3 {
  font-size: 2.5rem;
  color: var(--title-color);

}

.image-profile {
  display: flex;
  align-items: center;
  gap: 2rem;

}

.image-profile img {
  width: 5.5rem;
  border-radius: 50%;

}

.nav-menu {
  display: flex;
  gap: 3rem;

  font-size: 2rem;

}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;

}

ul li a:hover {
  color: var(--bg-button);
  border-bottom: 2px solid var(--bg-button);

}

.container,
.contact,
.about,
.project,
.skills {
  padding-top: 10rem;
  height: 100%;

}

.social-medias {
  position: fixed;
  top: 20rem;
  right: 0;
  height: 20vh;

  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  gap: 1rem;

  box-shadow: 0 0 6px rgb(153, 151, 151);
  background-image: var(--bg-color);

}

.social-medias img {
  width: 25px;
}

.social-medias img:hover {
  transform: scale(1.2);

}

.home {
  text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

.animacao-home {
  animation: loadHome 400ms;

}

.home h1 {
  font-size: 6rem;

}

.home p {
  font-size: 2.5rem;
  font-weight: 300;

}

.home a,
.projects-title a,
.contact form button {
  width: -moz-fit-content;
  width: fit-content;

  padding: 1rem 2rem;

  background-color: var(--bg-button);
  background-image: var(--bg-color-button);

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);

  cursor: pointer;
  border: none;

  border-radius: 5px;

}

.home a:hover,
.projects-title a:hover,
.contact form button:hover {
  transition: all 300ms;
  transform: scale(1.1);

}

.about {
  padding-left: 5rem;
  padding-right: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 40rem;


  gap: 5rem;

}

.about h2 {
  grid-column: 1/3;
}

.about figure {
  display: flex;
  justify-content: center;
}

.about figure img {
  /* height: 100%; */
}

.content {
  width: 90%;
  display: flex;
  align-items: center;

}

.content p {}

.about h2,
.hability h2,
.projects-title h2,
.contact h2,
.skills h2 {
  font-size: 4rem;

}

.about p {
  font-weight: 300;

  line-height: 3rem;

  text-align: justify;
  font-size: 2rem;

}

.about a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.about p span {
  font-weight: 600;

}

.skills {
  padding-left: 4rem;
  padding-right: 4rem;

  display: flex;
  flex-wrap: wrap;

  gap: 2rem;

}

.skills h2 {
  width: 100%;
}

.hability {
  width: 100%;
  display: grid;
  grid-template-columns: 14rem 14rem 14rem 14rem;
  grid-template-rows: 18rem 18rem;

  justify-content: center;

  gap: 2rem;
}

.hability figure {
  width: 100%;
  /* background-image: var(--bg-color-button); */
  padding: 2rem 1rem;

  border-radius: 4px;
  box-shadow: 0 0 10px black;
}

.skills figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  width: -moz-fit-content;
  width: fit-content;

}

.skills figure figcaption {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;

  width: -moz-fit-content;
  width: fit-content;
  padding: .1rem 2rem;

  z-index: -1;

  color: var(--title-color);
  background-color: rgba(128, 128, 128, 0.582);
  border-radius: 40px;

  opacity: .8;
}

.skills img {
  width: 100%;

}


.foguete img {
  width: 30%;
}

.skills h2 {
  width: 100%;
  grid-column: 1/4;

}

.projects {
  padding: 4rem 6rem 4rem 6rem;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15rem  45rem;
  justify-content: center;
  gap: 2rem;

}

.img-figure{
  grid-row: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-figure img {
  width: 100%;
  height: 100%;

}

.repos,
.site {
  padding: 1rem 2rem;
}

.projects .projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/5;

  padding-top: 1rem;
  width: 100%;

}


.contact {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;

}

.contact .content-contact h2 {
  width: 100%;
  text-align: start;
}

.contact img {
  width: 25%;
}

.contact .content-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15rem;

}

.content-contact {
  align-items: center;

}

.contact .content-contact p {
  padding: 4rem 0;
  font-size: 2rem;
  text-align: justify;

}

.contact form {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact form input {
  padding: .5rem 1rem;
  margin-bottom: 50px;

  font-size: 20rem;
  font-weight: 400;
  border: none;

}

.contact form input,
.contact form label {
  width: 60%;
  margin-bottom: 1rem;

  font-size: 1.5rem;
  font-weight: 600;

}

.contact form textarea {
  width: 60%;
  height: 20%;
  resize: none;
  padding: .5rem 1rem;
  margin-bottom: 2rem;

  border: none;
  font-size: 2rem;

}

footer {
  padding: 4rem 4rem 0 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

footer figure {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

footer figure img {
  width: 30px;

}

footer p {
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;

  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;

  border-top: 1px solid rgb(153, 151, 151);

}

@keyframes loadHome {
  from {
    transform: scale(0);

  }

  to {
    transform: scale(1);

  }

}